orchestration/main_streamgames.steam_reviews_pipeline.yml
id: steam_reviews_pipeline
namespace: steamgames
description: |
  Test update



inputs:
  - id: month
    type: SELECT
    displayName: Select the month to pull from
    values: [january, february, march, april, may, june, july, august, september, october, november, december]

  - id: year
    type: INT
    displayName: Enter the year to pull from
    min: 2024



variables:
  file: "games_{{inputs.month}}{{inputs.year}}_full"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}.parquet"
  table: "{{kv('GCP_DATASET')}}.steamdata_{{inputs.month}}{{inputs.year}}"
  data: "{{outputs.extract.outputFiles['data/games_' ~ inputs.month ~ inputs.year ~ '_full.parquet']}}"



tasks:

  - id: extract
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    description: "Extracts data from kaggle"
    env:
      KAGGLE_USERNAME: "{{ secret('KAGGLE_USERNAME') }}"
      KAGGLE_KEY: "{{ secret('KAGGLE_KEY') }}"
    commands:
      - python /orchestration/ingestion_from_kaggle.py --download_directory "data" --download_file "{{render(vars.file)}}" --kaggle_dataset "artermiloff/steam-games-dataset"
    outputFiles:
      - "data/*.parquet"

  - id: load_send_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: load_initialize_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.steam_data`
      (
          timestamp DATE OPTIONS (description = 'The date of the file from which the data was loaded, in the format YYYYmmmmdd.'),
          appid INTEGER OPTIONS (description = 'The numeric ID of the game on Steam. This is a unique identifier for each game.'),
          name STRING OPTIONS (description = 'The name of the game as listed on Steam.'),
          release_date STRING OPTIONS (description = 'The date when the game was released on Steam.'),
          required_age INTEGER OPTIONS (description = 'The minimum age required to play the game, as specified by the developer.'),
          price FLOAT64 OPTIONS (description = 'The current price of the game in USD. This is the price at the time the data was collected.'),
          dlc_count INTEGER OPTIONS (description = 'The number of downloadable content (DLC) packages available for the game. DLCs are additional content that can be purchased separately from the base game.'),
          detailed_description STRING OPTIONS (description = 'A detailed description of the game, often provided by the developer. This may include information about the gameplay, story, features, and other aspects of the game.'),
          about_the_game STRING OPTIONS (description = 'A brief description of the game, often used as a summary or teaser. This may be a shorter version of the detailed description and is typically used in listings and promotional materials.'),
          short_description STRING OPTIONS (description = 'A very brief description of the game, often limited to a few sentences. This is typically used in search results and other places where space is limited.'),
          reviews STRING OPTIONS (description = 'A short list of reviews from outlets such as IGN, GameSpot, and PC Gamer. These reviews are often used to provide a quick overview of the critical reception of the game.'),
          header_image STRING OPTIONS (description = 'The URL of the header image for the game on Steam.'),
          website STRING OPTIONS (description = 'The game\'s official website, as provided by the developer.'),
          support_url STRING OPTIONS (description = 'The support page URL for the game, as provided by the developer.'),
          support_email STRING OPTIONS (description = 'The email address for the game\'s support team, as provided by the developer.'),
          windows BOOLEAN OPTIONS (description = 'Indicates whether the game is available on the Windows operating system.'),
          mac BOOLEAN OPTIONS (description = 'Indicates whether the game is available on the Mac operating system.'),
          linux BOOLEAN OPTIONS (description = 'Indicates whether the game is available on the Linux operating system.'),
          metacritic_score INTEGER OPTIONS (description = 'The Metacritic score for the game, which is a weighted average of reviews from various critics. The score is on a scale from 0 to 100, with higher scores indicating better reviews. Games withouta Metacritic score will have a value of 0 in this field.'),
          metacritic_url STRING OPTIONS (description = 'The URL of the game\'s page on Metacritic, where users can read reviews and see the Metacritic score.'),
          achievements INTEGER OPTIONS (description = 'The number of achievements available for the game.'),
          recommendations INTEGER OPTIONS (description = 'The number of recommendations for the game.'),
          notes STRING OPTIONS (description = 'Additional notes about the game.'),
          supported_languages STRING OPTIONS (description = 'The languages supported by the game.'),
          full_audio_languages STRING OPTIONS (description = 'The languages with full audio support in the game.'),
          packages STRING OPTIONS (description = 'Information about the game\'s available packages.'),
          developers STRING OPTIONS (description = 'The developers of the game.'),
          publishers STRING OPTIONS (description = 'The publishers of the game.'),
          categories STRING OPTIONS (description = 'The categories to which the game belongs.'),
          genres STRING OPTIONS (description = 'The genres to which the game belongs.'),
          screenshots STRING OPTIONS (description = 'URLs of screenshots from the game.'),
          movies STRING OPTIONS (description = 'URLs of promotional videos for the game.'),
          user_score INTEGER OPTIONS (description = 'The average user score for the game.'),
          score_rank FLOAT64 OPTIONS (description = 'The ranking of the game based on its Metacritic score.'),
          positive INTEGER OPTIONS (description = 'The number of positive reviews for the game.'),
          negative INTEGER OPTIONS (description = 'The number of negative reviews for the game.'),
          estimated_owners STRING OPTIONS (description = 'The estimated range of owners for the game, as provided by Steam. This is typically a range (e.g., "1,000 - 5,000") rather than an exact number.'),
          average_playtime_forever INTEGER OPTIONS (description = 'The average playtime for the game over its lifetime.'),
          average_playtime_2weeks INTEGER OPTIONS (description = 'The average playtime for the game over the last 2 weeks.'),
          median_playtime_forever INTEGER OPTIONS (description = 'The median playtime for the game over its lifetime.'),
          median_playtime_2weeks INTEGER OPTIONS (description = 'The median playtime for the game over the last 2 weeks.'),
          discount INTEGER OPTIONS (description = 'The discount percentage for the game.'),
          peak_ccu INTEGER OPTIONS (description = 'The peak concurrent users for the game.'),
          tags STRING OPTIONS (description = 'Tags associated with the game.'),
          pct_pos_total INTEGER OPTIONS (description = 'The percentage of positive reviews for the game. -1 indicates that there are no reviews for the game.'),
          num_reviews_total INTEGER OPTIONS (description = 'The total number of reviews for the game. -1 indicates that there are no reviews for the game.'),
          pct_pos_recent INTEGER OPTIONS (description = 'The percentage of positive reviews for the game in the recent period. -1 indicates that there are no reviews for the game.'),
          num_reviews_recent INTEGER OPTIONS (description = 'The number of reviews for the game in the recent period. -1 indicates that there are no reviews for the game.')
      )
      PARTITION BY timestamp;
       

  - id: load_to_external_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
      (
          appid INTEGER OPTIONS (description = 'The numeric ID of the game on Steam. This is a unique identifier for each game.'),
          name STRING OPTIONS (description = 'The name of the game as listed on Steam.'),
          release_date STRING OPTIONS (description = 'The date when the game was released on Steam.'),
          required_age INTEGER OPTIONS (description = 'The minimum age required to play the game, as specified by the developer.'),
          price FLOAT64 OPTIONS (description = 'The current price of the game in USD. This is the price at the time the data was collected.'),
          dlc_count INTEGER OPTIONS (description = 'The number of downloadable content (DLC) packages available for the game. DLCs are additional content that can be purchased separately from the base game.'),
          detailed_description STRING OPTIONS (description = 'A detailed description of the game, often provided by the developer. This may include information about the gameplay, story, features, and other aspects of the game.'),
          about_the_game STRING OPTIONS (description = 'A brief description of the game, often used as a summary or teaser. This may be a shorter version of the detailed description and is typically used in listings and promotional materials.'),
          short_description STRING OPTIONS (description = 'A very brief description of the game, often limited to a few sentences. This is typically used in search results and other places where space is limited.'),
          reviews STRING OPTIONS (description = 'A short list of reviews from outlets such as IGN, GameSpot, and PC Gamer. These reviews are often used to provide a quick overview of the critical reception of the game.'),
          header_image STRING OPTIONS (description = 'The URL of the header image for the game on Steam.'),
          website STRING OPTIONS (description = 'The game\'s official website, as provided by the developer.'),
          support_url STRING OPTIONS (description = 'The support page URL for the game, as provided by the developer.'),
          support_email STRING OPTIONS (description = 'The email address for the game\'s support team, as provided by the developer.'),
          windows BOOLEAN OPTIONS (description = 'Indicates whether the game is available on the Windows operating system.'),
          mac BOOLEAN OPTIONS (description = 'Indicates whether the game is available on the Mac operating system.'),
          linux BOOLEAN OPTIONS (description = 'Indicates whether the game is available on the Linux operating system.'),
          metacritic_score INTEGER OPTIONS (description = 'The Metacritic score for the game, which is a weighted average of reviews from various critics. The score is on a scale from 0 to 100, with higher scores indicating better reviews. Games withouta Metacritic score will have a value of 0 in this field.'),
          metacritic_url STRING OPTIONS (description = 'The URL of the game\'s page on Metacritic, where users can read reviews and see the Metacritic score.'),
          achievements INTEGER OPTIONS (description = 'The number of achievements available for the game.'),
          recommendations INTEGER OPTIONS (description = 'The number of recommendations for the game.'),
          notes STRING OPTIONS (description = 'Additional notes about the game.'),
          supported_languages STRING OPTIONS (description = 'The languages supported by the game.'),
          full_audio_languages STRING OPTIONS (description = 'The languages with full audio support in the game.'),
          packages STRING OPTIONS (description = 'Information about the game\'s available packages.'),
          developers STRING OPTIONS (description = 'The developers of the game.'),
          publishers STRING OPTIONS (description = 'The publishers of the game.'),
          categories STRING OPTIONS (description = 'The categories to which the game belongs.'),
          genres STRING OPTIONS (description = 'The genres to which the game belongs.'),
          screenshots STRING OPTIONS (description = 'URLs of screenshots from the game.'),
          movies STRING OPTIONS (description = 'URLs of promotional videos for the game.'),
          user_score INTEGER OPTIONS (description = 'The average user score for the game.'),
          score_rank FLOAT64 OPTIONS (description = 'The ranking of the game based on its Metacritic score.'),
          positive INTEGER OPTIONS (description = 'The number of positive reviews for the game.'),
          negative INTEGER OPTIONS (description = 'The number of negative reviews for the game.'),
          estimated_owners STRING OPTIONS (description = 'The estimated range of owners for the game, as provided by Steam. This is typically a range (e.g., "1,000 - 5,000") rather than an exact number.'),
          average_playtime_forever INTEGER OPTIONS (description = 'The average playtime for the game over its lifetime.'),
          average_playtime_2weeks INTEGER OPTIONS (description = 'The average playtime for the game over the last 2 weeks.'),
          median_playtime_forever INTEGER OPTIONS (description = 'The median playtime for the game over its lifetime.'),
          median_playtime_2weeks INTEGER OPTIONS (description = 'The median playtime for the game over the last 2 weeks.'),
          discount INTEGER OPTIONS (description = 'The discount percentage for the game.'),
          peak_ccu INTEGER OPTIONS (description = 'The peak concurrent users for the game.'),
          tags STRING OPTIONS (description = 'Tags associated with the game.'),
          pct_pos_total INTEGER OPTIONS (description = 'The percentage of positive reviews for the game. -1 indicates that there are no reviews for the game.'),
          num_reviews_total INTEGER OPTIONS (description = 'The total number of reviews for the game. -1 indicates that there are no reviews for the game.'),
          pct_pos_recent INTEGER OPTIONS (description = 'The percentage of positive reviews for the game in the recent period. -1 indicates that there are no reviews for the game.'),
          num_reviews_recent INTEGER OPTIONS (description = 'The number of reviews for the game in the recent period. -1 indicates that there are no reviews for the game.')
      )
      OPTIONS (
          format = 'PARQUET',
          uris = ['{{render(vars.gcs_file)}}']      
      );

  - id: transform_add_timestamp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
      AS
      SELECT
        PARSE_DATE('%Y%B%d',  "{{inputs.year}}{{inputs.month}}01") AS timestamp,
        *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

  - id: transform_merge_into_main_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.steam_data` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
      ON T.appid = S.appid
      WHEN NOT MATCHED THEN
        INSERT (timestamp, appid, name, release_date, required_age, price, dlc_count, detailed_description, about_the_game, short_description, reviews, header_image, 
                website, support_url, support_email, windows, mac, linux, metacritic_score, metacritic_url, achievements, recommendations, notes, supported_languages, 
                full_audio_languages, packages, developers, publishers, categories, genres, screenshots, movies, user_score, score_rank, positive, negative, 
                estimated_owners, average_playtime_forever, average_playtime_2weeks, median_playtime_forever, median_playtime_2weeks, discount, peak_ccu, tags, 
                pct_pos_total, num_reviews_total, pct_pos_recent, num_reviews_recent)
        VALUES (S.timestamp, S.appid, S.name, S.release_date, S.required_age, S.price, S.dlc_count, S.detailed_description, S.about_the_game, S.short_description, S.reviews, S.header_image, 
                S.website, S.support_url, S.support_email, S.windows, S.mac, S.linux, S.metacritic_score, S.metacritic_url, S.achievements, S.recommendations, S.notes, S.supported_languages, 
                S.full_audio_languages, S.packages, S.developers, S.publishers, S.categories, S.genres, S.screenshots, S.movies, S.user_score, S.score_rank, S.positive, S.negative, 
                S.estimated_owners, S.average_playtime_forever, S.average_playtime_2weeks, S.median_playtime_forever, S.median_playtime_2weeks, S.discount, S.peak_ccu, S.tags, 
                S.pct_pos_total, S.num_reviews_total, S.pct_pos_recent, S.num_reviews_recent);
                
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files


  - id: dbt
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:

    - id: clone_repository
      type: io.kestra.plugin.git.Clone
      url: https://github.com/dan-sanchez-ugs/steam-games-review-trends
      branch: main
      directory: steam-games-review-trends
      
    - id: dbt_build
      type: io.kestra.plugin.dbt.cli.DbtCLI
      env:
        DBT_DATABASE: "{{kv('GCP_PROJECT_ID')}}"
        DBT_SCHEMA: "{{kv('GCP_DATASET')}}"
      containerImage: ghcr.io/kestra-io/dbt-bigquery:latest
      taskRunner:
        type: io.kestra.plugin.scripts.runner.docker.Docker
      inputFiles:
        sa.json: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      commands:
        - dbt deps --project-dir ./steam-games-review-trends/dbt --target dev
        - "dbt build --project-dir ./steam-games-review-trends/dbt --target dev" 
      projectDir: ./steam-games-review-trends/dbt 
      storeManifest:
        key: manifest.json
        namespace: "{{ flow.namespace }}"
      profiles: |
        default:
          outputs:
            dev:
              type: bigquery
              dataset: "{{kv('GCP_DATASET')}}"
              project: "{{kv('GCP_PROJECT_ID')}}"
              location: "{{kv('GCP_LOCATION')}}"
              keyfile: sa.json
              method: service-account
              priority: interactive
              threads: 16
              timeout_seconds: 300
              fixed_retries: 1
          target: dev
    description: |
      sources:
        - name: staging
          database: "{{kv('GCP_PROJECT_ID')}}"
          schema: "{{kv('GCP_DATASET')}}"
          table: steam_data

          

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"



triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "@monthly"
    inputs:
      month: "{{trigger.date | dateAdd(-1, 'DAYS') | date('MMMM') | lower}}"
      year: "{{trigger.date | dateAdd(-1, 'DAYS') | date('yyyy')}}"
